<div style="display:flex">
    <div class="w-1-2">
        <pre><code>&lt;ul&gt;</code></pre>
        <ul>
            <li>Apples
                <ul>
                    <li>Red</li>
                    <li>Green
                        <ul>
                            <li>Light green</li>
                            <li>Dark green</li>
                            <li>Turquoise</li>
                        </ul>
                    </li>
                    <li>Yellow</li>
                </ul>
            </li>
            <li>Oranges</li>
            <li>Pears</li>
        </ul>
    </div>
    <div class="w-1-2">
        <pre><code>&lt;ol&gt;</code></pre>
        <ol>
            <li>Apples
                <ol>
                    <li>Red</li>
                    <li>Green
                        <ol>
                            <li>Light green</li>
                            <li>Dark green</li>
                            <li>Turquoise</li>
                        </ol>
                    </li>
                    <li>Yellow</li>
                </ol>
            </li>
            <li>Oranges</li>
            <li>Pears</li>
        </ol>
    </div>
</div>
<div style="display:flex">
    <div class="w-1-2">
        <pre><code>&lt;ul class="sans-serif"&gt;</code></pre>
        <ul class="sans-serif">
            <li>Apples
                <ul>
                    <li>Red</li>
                    <li>Green
                        <ul>
                            <li>Light green</li>
                            <li>Dark green</li>
                            <li>Turquoise</li>
                        </ul>
                    </li>
                    <li>Yellow</li>
                </ul>
            </li>
            <li>Oranges</li>
            <li>Pears</li>
        </ul>
    </div>
    <div class="w-1-2">
        <pre><code>&lt;ol class="sans-serif"&gt;</code></pre>
        <ol class="sans-serif">
            <li>Apples
                <ol>
                    <li>Red</li>
                    <li>Green
                        <ol>
                            <li>Light green</li>
                            <li>Dark green</li>
                            <li>Turquoise</li>
                        </ol>
                    </li>
                    <li>Yellow</li>
                </ol>
            </li>
            <li>Oranges</li>
            <li>Pears</li>
        </ol>
    </div>
</div>
<div style="display:flex">
    <div class="w-1-2">
        <pre><code>&lt;ul class="small"&gt;</code></pre>
        <ul class="small">
            <li>Apples
                <ul>
                    <li>Red</li>
                    <li>Green
                        <ul>
                            <li>Light green</li>
                            <li>Dark green</li>
                            <li>Turquoise</li>
                        </ul>
                    </li>
                    <li>Yellow</li>
                </ul>
            </li>
            <li>Oranges</li>
            <li>Pears</li>
        </ul>
    </div>
    <div class="w-1-2">
        <pre><code>&lt;ol class="small"&gt;</code></pre>
        <ol class="small">
            <li>Apples
                <ol>
                    <li>Red</li>
                    <li>Green
                        <ol>
                            <li>Light green</li>
                            <li>Dark green</li>
                            <li>Turquoise</li>
                        </ol>
                    </li>
                    <li>Yellow</li>
                </ol>
            </li>
            <li>Oranges</li>
            <li>Pears</li>
        </ol>
    </div>
</div>
<div style="display:flex">
    <div class="w-1-2">
        <pre><code>&lt;ul class="sans-serif small"&gt;</code></pre>
        <ul class="sans-serif small">
            <li>Apples
                <ul>
                    <li>Red</li>
                    <li>Green
                        <ul>
                            <li>Light green</li>
                            <li>Dark green</li>
                            <li>Turquoise</li>
                        </ul>
                    </li>
                    <li>Yellow</li>
                </ul>
            </li>
            <li>Oranges</li>
            <li>Pears</li>
        </ul>
    </div>
    <div class="w-1-2">
        <pre><code>&lt;ol class="sans-serif small"&gt;</code></pre>
        <ol class="sans-serif small">
            <li>Apples
                <ol>
                    <li>Red</li>
                    <li>Green
                        <ol>
                            <li>Light green</li>
                            <li>Dark green</li>
                            <li>Turquoise</li>
                        </ol>
                    </li>
                    <li>Yellow</li>
                </ol>
            </li>
            <li>Oranges</li>
            <li>Pears</li>
        </ol>
    </div>
</div>