<pre><code>&lt;table&gt;</code></pre>
<table>
    <thead>
        <tr>
            <th>Size</th>
            <th>Percent</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>360 &times; 640</td>
            <td>26.3%</td>
            <td>Android phones in portrait</td>
        </tr>
        <tr>
            <td>1920 &times; 1080</td>
            <td>9.2%</td>
            <td>full HD laptop/monitor</td>
        </tr>
        <tr>
            <td>1366 &times; 768</td>
            <td>8.8%</td>
            <td>generic 15.6" laptop</td>
        </tr>
        <tr>
            <td>1536 &times; 864</td>
            <td>5.2%</td>
            <td>full HD at 125% zoom</td>
        </tr>
        <tr>
            <td>375 &times; 667</td>
            <td>4.8%</td>
            <td>iphone 6, 7 and 8</td>
        </tr>
    </tbody>
</table>

<pre><code>&lt;table class="zebra"&gt;</code></pre>
<table class="zebra">
    <thead>
        <tr>
            <th>Size</th>
            <th>Percent</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>360 &times; 640</td>
            <td>26.3%</td>
            <td>Android phones in portrait</td>
        </tr>
        <tr>
            <td>1920 &times; 1080</td>
            <td>9.2%</td>
            <td>full HD laptop/monitor</td>
        </tr>
        <tr>
            <td>1366 &times; 768</td>
            <td>8.8%</td>
            <td>generic 15.6" laptop</td>
        </tr>
        <tr>
            <td>1536 &times; 864</td>
            <td>5.2%</td>
            <td>full HD at 125% zoom</td>
        </tr>
        <tr>
            <td>375 &times; 667</td>
            <td>4.8%</td>
            <td>iphone 6, 7 and 8</td>
        </tr>
    </tbody>
</table>

<pre><code>&lt;table class="bordered"&gt;</code></pre>
<table class="bordered">
    <thead>
        <tr>
            <th>Size</th>
            <th>Percent</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>360 &times; 640</td>
            <td>26.3%</td>
            <td>Android phones in portrait</td>
        </tr>
        <tr>
            <td>1920 &times; 1080</td>
            <td>9.2%</td>
            <td>full HD laptop/monitor</td>
        </tr>
        <tr>
            <td>1366 &times; 768</td>
            <td>8.8%</td>
            <td>generic 15.6" laptop</td>
        </tr>
        <tr>
            <td>1536 &times; 864</td>
            <td>5.2%</td>
            <td>full HD at 125% zoom</td>
        </tr>
        <tr>
            <td>375 &times; 667</td>
            <td>4.8%</td>
            <td>iphone 6, 7 and 8</td>
        </tr>
    </tbody>
</table>

<pre><code>&lt;table class="bordered-all"&gt;</code></pre>
<table class="bordered-all">
    <thead>
        <tr>
            <th>Size</th>
            <th>Percent</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>360 &times; 640</td>
            <td>26.3%</td>
            <td>Android phones in portrait</td>
        </tr>
        <tr>
            <td>1920 &times; 1080</td>
            <td>9.2%</td>
            <td>full HD laptop/monitor</td>
        </tr>
        <tr>
            <td>1366 &times; 768</td>
            <td>8.8%</td>
            <td>generic 15.6" laptop</td>
        </tr>
        <tr>
            <td>1536 &times; 864</td>
            <td>5.2%</td>
            <td>full HD at 125% zoom</td>
        </tr>
        <tr>
            <td>375 &times; 667</td>
            <td>4.8%</td>
            <td>iphone 6, 7 and 8</td>
        </tr>
    </tbody>
</table>

<pre><code>&lt;table class="small"&gt;</code></pre>
<table class="small">
    <thead>
        <tr>
            <th>Size</th>
            <th>Percent</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>360 &times; 640</td>
            <td>26.3%</td>
            <td>Android phones in portrait</td>
        </tr>
        <tr>
            <td>1920 &times; 1080</td>
            <td>9.2%</td>
            <td>full HD laptop/monitor</td>
        </tr>
        <tr>
            <td>1366 &times; 768</td>
            <td>8.8%</td>
            <td>generic 15.6" laptop</td>
        </tr>
        <tr>
            <td>1536 &times; 864</td>
            <td>5.2%</td>
            <td>full HD at 125% zoom</td>
        </tr>
        <tr>
            <td>375 &times; 667</td>
            <td>4.8%</td>
            <td>iphone 6, 7 and 8</td>
        </tr>
    </tbody>
</table>

<pre><code>&lt;table class="sans-serif"&gt;</code></pre>
<table class="sans-serif">
    <thead>
        <tr>
            <th>Size</th>
            <th>Percent</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>360 &times; 640</td>
            <td>26.3%</td>
            <td>Android phones in portrait</td>
        </tr>
        <tr>
            <td>1920 &times; 1080</td>
            <td>9.2%</td>
            <td>full HD laptop/monitor</td>
        </tr>
        <tr>
            <td>1366 &times; 768</td>
            <td>8.8%</td>
            <td>generic 15.6" laptop</td>
        </tr>
        <tr>
            <td>1536 &times; 864</td>
            <td>5.2%</td>
            <td>full HD at 125% zoom</td>
        </tr>
        <tr>
            <td>375 &times; 667</td>
            <td>4.8%</td>
            <td>iphone 6, 7 and 8</td>
        </tr>
    </tbody>
</table>

<pre><code>&lt;table class="sans-serif small zebra"&gt;</code></pre>
<table class="sans-serif small zebra">
    <thead>
        <tr>
            <th>Size</th>
            <th>Percent</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>360 &times; 640</td>
            <td>26.3%</td>
            <td>Android phones in portrait</td>
        </tr>
        <tr>
            <td>1920 &times; 1080</td>
            <td>9.2%</td>
            <td>full HD laptop/monitor</td>
        </tr>
        <tr>
            <td>1366 &times; 768</td>
            <td>8.8%</td>
            <td>generic 15.6" laptop</td>
        </tr>
        <tr>
            <td>1536 &times; 864</td>
            <td>5.2%</td>
            <td>full HD at 125% zoom</td>
        </tr>
        <tr>
            <td>375 &times; 667</td>
            <td>4.8%</td>
            <td>iphone 6, 7 and 8</td>
        </tr>
    </tbody>
</table>