label, .input-group {
    display: flex;
    vertical-align: middle;
    align-items: center;
    flex-wrap: wrap;
}

label, input{
    flex: 1 1 auto;
}

label{
    margin-bottom: 1em;
}

@media (max-width: 440px){
    label,
    label .input-label:first-child{
        flex: 1 0 100%;
    }
}

label{
    font-size: 16px;
    line-height: 40px;
}

input,
.input-prefix,
.input-suffix,
.input-label{
    transition: .3s all;
    padding: 0 0.666em;
    font-size: inherit;
    border: 1px solid #999;
    box-sizing: border-box;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
    line-height: inherit;
}

.rounded .input-prefix,
.rounded input{
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.rounded .input-prefix + input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rounded .btn{
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

label.rounded :last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

@media (max-width: 440px){
    .rounded :last-child{
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
    .rounded .btn{
        border-radius: 0.3rem;
    }    
}

.pill .input-prefix,
.pill input{
    border-top-left-radius: 9rem;
    border-bottom-left-radius: 9rem;
}

.pill .input-prefix + input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pill .btn{
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
}

label.pill :last-child {
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
}

@media (max-width: 440px){
    .pill :last-child{
        border-top-right-radius: 9rem;
        border-bottom-right-radius: 9rem;
    }
    .pill .btn{
        border-radius: 9rem;
    }    
}

.input-prefix,
.input-suffix {
    background: #eee;
}

img.input-prefix,
img.input-suffix{
    padding: 0.4rem;
    height: 42px;
    width: 42px;
}

.input-prefix {
    border-right: 0;
}

.input-suffix {
    border-left: 0;
}

.input-group.extra-small,
label.extra-small {
    font-size: 12px;
    line-height: 30px;
}

.input-group.small,
label.small {
    font-size: 14px;
    line-height: 35px;
}

.input-group.large,
label.large {
    font-size: 18px;
    line-height: 45px;
}

.input-group.extra-large,
label.extra-large {
    font-size: 20px;
    line-height: 50px;
}

.input-label {
    border: 0;
    padding-left: 0 !important;
}

.input-label.above {
    flex: 1 0 100%;
}


.checkbox,
.radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    box-sizing: border-box;
    background-size: contain;
    margin-right: .5rem;
    border: 2px solid #000;
}

.radio {
    border-radius: 50%;
}

.checkbox.small,
.radio.small {
    width: 15px;
    height: 15px;
}

.checkbox.large,
.radio.large {
    width: 25px;
    height: 25px;
}

.checkbox.rounded {
    border-radius: 20%;
}


:focus+.checkbox,
:active+.checkbox,
:focus+.radio,
:active+.radio {
    box-shadow: 0 0 1px 2px rgba(51, 102, 255, .5);
}

input:focus {
    box-shadow: 0 0 4px 2px rgba(52, 102, 255, .5);
    position: relative;
    z-index: 22;
}

:checked+.radio {
    background-image: radial-gradient(#000 45%, #fff 50%);
}

:checked+.checkbox {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTkuMTI1IDE5LjkwNkwyMi4wNjIgNi45N2wtMi4xNTYtMi4xNTYtMTAuNzgxIDEwLjc4LTUuMDMxLTUuMDMtMi4xNTcgMi4xNTZ6Ii8+PC9zdmc+);
}


[type=radio],
[type=checkbox],
[type=radio]:focus,
[type=checkbox]:focus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}