form{
    font-size: 0;
}

label, input {
    display: inline-block;
}

input,
.input-prefix,
.input-suffix,
.input-label{
    transition: .3s all;
    line-height: 40px;
    height: 40px;
    padding: 0 12px;
    font-size: 16px;
    border: 1px solid #999;
    box-sizing: border-box;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}


.rounded {
    border-radius: 0.3rem;
}

.rounded-left {
    border-radius: 0.3rem 0 0 0.3rem;
}

.rounded-right {
    border-radius: 0 0.3rem 0.3rem 0;
}

.pill {
    border-radius: 9em;
}

.pill-left {
    border-radius: 9em 0 0 9em;
}

.pill-right {
    border-radius: 0 9em 9em 0;
}

.input-prefix,
.input-suffix {
    background: #eee;
}

img.input-prefix,
img.input-suffix {
    padding: 0.4rem;
}

.input-prefix {
    border-right: 0;
}

.input-suffix {
    border-left: 0;
}

input.small,
.input-prefix.small,
.input-suffix.small,
.input-label.small {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding: 0 10px;
}

input.large,
.input-prefix.large,
.input-suffix.large,
.input-label.large {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    padding: 0 14px;
}

.input-label {
    border: 0;
    padding-left: 0 !important;
}

.input-label.above {
    display: block;
}


.checkbox,
.radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    box-sizing: border-box;
    background-size: contain;
    margin-right: .5rem;
    border: 2px solid #000;
}

.radio {
    border-radius: 50%;
}

.checkbox.small,
.radio.small {
    width: 15px;
    height: 15px;
}

.checkbox.large,
.radio.large {
    width: 25px;
    height: 25px;
}

.checkbox.rounded {
    border-radius: 20%;
}


:focus+.checkbox,
:active+.checkbox,
:focus+.radio,
:active+.radio {
    box-shadow: 0 0 1px 2px rgba(51, 102, 255, .5);
}

input:focus {
    box-shadow: 0 0 4px 2px rgba(52, 102, 255, .5);
    position: relative;
    z-index: 22;
}

:checked+.radio {
    background-image: radial-gradient(#000 45%, #fff 50%);
}

:checked+.checkbox {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTkuMTI1IDE5LjkwNkwyMi4wNjIgNi45N2wtMi4xNTYtMi4xNTYtMTAuNzgxIDEwLjc4LTUuMDMxLTUuMDMtMi4xNTcgMi4xNTZ6Ii8+PC9zdmc+);
}


[type=radio],
[type=checkbox],
[type=radio]:focus,
[type=checkbox]:focus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}