/* resets */

fieldset,
legend,
input {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin: 0;
}

select {
    text-transform: none;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}




/* end resets */

label {
  display: inline-block;
}

input {
    line-height: 40px;
    height: 40px;
    padding: 0 16px;
    font-size: 16px;
    border: 1px solid #999;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}

input.small {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding: 0 14px;
}

input.large {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    padding: 0 18px;
}

input.round {
  border-radius: 0.3em;
}

span.prefix {
    line-height: 40px;
    height: 40px;
    padding: 0 12px;
    background: #ddd;
    display: inline-block;
    font-family: Roboto;
    border: 1px solid #999;
    box-sizing: border-box;
    border-right: 0;
    vertical-align: middle;
    font-size: 16px;
}

span.prefix.small{
    line-height: 35px;
    height: 35px;
    font-size: 14px;
    padding: 0 10px;
}

span.prefix.large{
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    padding: 0 14px;
}

span.prefix.round {
    border-radius: 0.3rem 0 0 0.3rem;
}


span.prefix + input.round {
    border-radius: 0 0.3rem 0.3rem 0;
}

