/* misc. resets */

details {display: block;}
summary {display: list-item;}
template, [hidden] {display: none;}
img {
  border-style: none;
  vertical-align: middle;
}
hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible;
}

/* end resets */ 


main.main{
    max-width: 820px;
    margin: 0 auto;
    padding: 0 0.5rem
}